<!DOCTYPE html>

{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in/Sign up</title>

     
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
                
       
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form method="POST">
                        {% csrf_token %} 
                        <div class="field input-field">
                            {{form.username}}
                        </div>

                        <div class="field input-field">
                            {{form.password}}
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>   
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="{% url 'registration_viewer' %}">Signupss</a></span>
                    </div>
                </div>

                

            </div>

            <!-- Signup Form -->

        </section>

        
        <script src="{% static 'js/login.js' %}"></script>
    </body>
</html>